branches:
  only:
    - master
    - lp
language: java
before_script:
  - sudo apt-get update 
  - ./prepare_solo_rb.sh
  - mysql -e 'create database sonar;'
  - sudo ./bootstrap-chef-solo.sh
script: ./test/run-tests.sh

